data/
libro-test.db
libro.db
libro.bak
node_modules/
dist/
dist-electron/

.ruff_cache
package-lock.json
uv.lock
.venv/
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
.DS_Store


# Electron
.vite
